body {
  font-family: "Segoe UI",Arial,sans-serif;
}

@font-face {
  font-family: "edgeicons";
  src: url("../../font/edge-icons-Regular.eot");
  src: url("../../font/edge-icons-Regular.eot?#iefix") format("embedded-opentype"), url("../../font/edge-icons-Regular.woff") format("woff"), url("../../font/edge-icons-Regular.ttf") format("truetype");
}

.Icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
}

.Icon--large {
  font-size: 21px;
  line-height: 1;
}

.Icon:after,
.Icon:before {
  display: block;
  font-family: "edgeicons";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geo-query-location .Icon--search {
  color: #66757f;
  left: 13px;
  position: absolute;
  top: 10px;
}

.Icon--search:before {
  content: "\f058";
}

.Icon--people:before {
  content: "\f178";
}

.Icon--reply:before {
  content: "\f151";
}

.Icon--bird:before {
  content: "\f179";
}

.Icon--home:before {
  content: "\f053";
}

.Icon--homeFilled:before {
  content: "\f553";
}

.Icon--notifications:before {
  content: "\f055";
}

.Icon--notificationsFilled:before {
  content: "\f019";
}

.Icon--notificationsDisabled:before {
  content: "\f037";
}

.Icon--media:before {
  content: "\f109";
}

.Icon--caretDownLight:before {
  content: "\f196";
}

.Icon--small {
  font-size: 16px;
  line-height: 15px;
}

.Icon--medium {
  font-size: 18px;
  line-height: 18px;
}

.Icon--verified:before {
  content: "\f032";
  font-size: .7em;
  left: 26%;
  line-height: 1;
  position: absolute;
  top: 20%;
}

.Icon--verified:after {
  content: "\f099";
  line-height: 1;
  position: relative;
}

.Icon--verified {
  color: #1da1f2;
}

.Icon--verified:before {
  color: #fff;
}

.Icon--retweet:before {
  content: "\f152";
}

.Icon--retweeted:before {
  content: "\f006";
}

.Icon--retweeted,
.Icon--colorRetweeted {
  color: #17bf63;
}

.Icon--heart:before {
  content: "\f148";
}

.Icon--heart:hover {
  color: #e0245e;
}

.button-text .Icon--tweet,
.button-text .Icon--dm,
.button-text .Icon--reply {
  left: -2px;
  top: -2px;
}

.Icon--dm:before {
  content: "\f054";
}

.Icon--dmCompose:before {
  content: "\f035";
}

.Icon--smiley:before {
  content: "\f033";
}

.Icon--smiley {
  color: #aab8c2;
}

.Icon--gif:before {
  content: "\f028";
}

.Icon--pollBar:before {
  content: "\f199";
}

.Icon--geo:before {
  content: "\f031";
}

.Icon--promotedStroked:before {
  content: "\f504";
}

.Icon--dotsVertical:before {
  content: "\f149";
}

.Icon--url:before {
  content: "\f098";
}

.Icon--calendar:before {
  content: "\f203";
}

.Icon--person:before {
  content: "\f056";
}

.home.active .Icon--home,
.moments.active .Icon--lightning,
.notifications.active .Icon--notifications {
  display: none;
}

.home:not(.active) .Icon--homeFilled,
.moments:not(.active) .Icon--lightningFilled,
.notifications:not(.active) .Icon--notificationsFilled {
  display: none;
}

.Icon--close:before {
  content: "\f045";
}

.dropdown-item {
  font-size: 14px;
  font-weight: normal;
  color: #66757f;
  line-height: 20px;
}

.dropdown-item:hover {
  background: #1da1f2;
  color: #fff;
}

.tooltip-inner {
  font-size: 12px;
}

.following-btn {
  border-radius: 30px;
  color: #fff !important;
  font-weight: bold;
  font-size: 14px;
}

.popover-body {
  padding: 0;
}

.popover-body .top {
  background: #1da1f2;
  height: 95px;
  position: relative;
}

.popover-body .top .avatar {
  position: absolute;
  bottom: -36px;
  padding: 1px;
  margin-left: 8px;
}

.popover-body .top .avatar img {
  width: 72px;
  height: 72px;
  border: 4px solid #fff;
}

.popover-body .bottom {
  background: #fff;
}

.popover-body .bottom .user_name {
  margin-left: 90px;
  margin-top: 5px;
}

.popover-body .bottom .user_name a {
  display: block;
}

.popover-body .bottom .user_name a.name {
  color: #14171a;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.popover-body .bottom .user_name a.handel {
  color: #657786;
  font-size: 14px;
  font-weight: normal;
}

.popover-body .bottom .stats {
  padding: 16px;
}

.popover-body .bottom .stats .stat {
  cursor: pointer;
  margin-right: 35px;
}

.popover-body .bottom .stats .stat .title {
  font-size: 12px;
  color: #657786;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 16px;
  overflow: hidden;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.popover-body .bottom .stats .stat .title:hover {
  color: #1da1f2;
}

.popover-body .bottom .stats .stat .count {
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
  color: #1da1f2;
}

.root {
  margin: auto;
  width: 1190px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  max-height: 46px;
  padding: 0;
  background: #fff;
}

.navbar .root .left {
  height: 43px;
}

.navbar .root .left .nav-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #1da1f2;
  padding-left: 4px;
  padding-right: 14px;
  color: #66757f;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.navbar .root .left .nav-item:hover {
  text-decoration: none;
  border-bottom: 2px solid #1da1f2;
  color: #1da1f2;
}

.navbar .root .left .nav-item .text {
  font-size: 13px;
  font-weight: bold;
  margin-left: 3px;
  line-height: 1;
  vertical-align: text-top;
}

.navbar .root .left .nav-item .Icon {
  margin: 11px 0 0 10px;
  width: 23px;
  height: 23px;
}

.navbar .root .left .active {
  color: #1da1f2;
  border-bottom: 2px solid #1da1f2;
}

.navbar .root .Icon--bird {
  font-size: 20px;
  color: #1da1f2;
}

.navbar .root .right .form-inline {
  margin-right: 15px;
}

.navbar .root .right .form-inline .search-input {
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  border-radius: 30px;
  height: 32px;
  width: 221px;
  color: #14171a;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 32px 8px 12px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .root .right .form-inline .search-input:focus {
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 0.15rem #1da1f2;
          box-shadow: inset 0 0 0 0.15rem #1da1f2;
  padding-left: 14px;
}

.navbar .root .right .form-inline .Icon--search {
  right: 10px;
  top: 2px;
  color: #66757f;
}

.navbar .root .right .avatar img {
  width: 32px;
  height: 32px;
}

.navbar .root .right .tweet {
  display: block;
  margin-left: 14px;
  border-radius: 200px;
  height: 32px;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 20px;
  background: #4AB3F4;
  border: none;
}

.navbar .root .right .tweet:hover {
  background: #1da1f2;
}

body > .banner {
  height: 470px;
  background: url("../img/google-banner.jpg");
  background-size: cover;
}

body .bannerSticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: -411px;
}

body > .navbar-secondary {
  background: #fff !important;
  max-height: 60px !important;
  height: 60px;
  top: 59px;
}

body > .navbar-secondary .nav-content {
  width: 1190;
}

body > .navbar-secondary .nav-content > .col-auto {
  padding: 0;
}

body > .navbar-secondary .nav-content .col-left, body > .navbar-secondary .nav-content .col-right {
  width: 290px;
}

body > .navbar-secondary .nav-content .col-center {
  max-width: 610px;
  width: 610px;
  padding-left: 10px;
}

body > .navbar-secondary .nav-content .col-center .menu-item {
  color: #66757f;
  padding: 14px 15px 7px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0px solid transparent;
  cursor: pointer;
  height: 60px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body > .navbar-secondary .nav-content .col-center .menu-item:hover {
  border-bottom: 2px solid #1da1f2;
}

body > .navbar-secondary .nav-content .col-center .menu-item:hover .count {
  color: #1da1f2;
}

body > .navbar-secondary .nav-content .col-center .menu-item .text {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

body > .navbar-secondary .nav-content .col-center .menu-item .count {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

body > .navbar-secondary .nav-content .col-center .active {
  border-bottom: 2px solid #1da1f2;
}

body > .navbar-secondary .nav-content .col-center .active .count {
  color: #1da1f2;
}

body > .navbar-secondary .nav-content .col-left > img {
  width: 210px;
  height: 210px;
  top: -125px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

body > .navbar-secondary .nav-content .col-left .hide {
  top: -230px;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container {
  overflow: hidden;
  width: 100%;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .google-logo-small {
  top: 235px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .google-logo-small img {
  width: 36px;
  height: 36px;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .google-logo-small .meta {
  margin-left: 10px;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .google-logo-small .meta .title {
  color: #14171a;
  font-weight: bold;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .google-logo-small .meta .Icon--verified {
  margin-left: 3px;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .google-logo-small .meta .handle {
  font-size: 14px;
}

body > .navbar-secondary .nav-content .col-left .logo-small-container .show {
  top: 10px;
}

body > .navbar-secondary .nav-content .col-right .btn {
  font-size: 14px;
  min-width: 105px;
  font-weight: bold;
  border-radius: 30px;
  margin-right: 20px;
}

body > .navbar-secondary .nav-content .col-right .btn:hover {
  background: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}

body > .navbar-secondary .nav-content .col-right .user-dropdown-icon {
  cursor: pointer;
}

body {
  background: #e6ecf0;
}

body > .root .row {
  padding-top: 10px;
  max-width: 1190px;
  margin: auto;
}

body > .root .row .left {
  width: 290px;
}

body > .root .row .right {
  max-width: 270px;
}

body > .root .row .left > .user_info {
  margin: 45px 0 16px 0;
  padding: 0 15px;
}

body > .root .row .left > .user_info .content .user_name {
  margin-bottom: 12px;
}

body > .root .row .left > .user_info .content .user_name .name {
  color: #14171a;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

body > .root .row .left > .user_info .content .user_name .name .Icon--verified {
  margin-left: 3px;
}

body > .root .row .left > .user_info .content .user_name a.handel {
  color: #657786;
  font-size: 14px;
  font-weight: normal;
}

body > .root .row .left > .user_info .content .description {
  font-size: 14px;
  margin-bottom: 12px;
}

body > .root .row .left > .user_info .content .location, body > .root .row .left > .user_info .content .website, body > .root .row .left > .user_info .content .joined {
  margin-bottom: 8px;
  color: #657786;
  font-size: 14px;
}

body > .root .row .left > .user_info .content .location .Icon, body > .root .row .left > .user_info .content .website .Icon, body > .root .row .left > .user_info .content .joined .Icon {
  font-size: 18px;
  margin-right: 5px;
}

body > .root .row .left > .user_info .content .tweet-to-this {
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

body > .root .row .left .trends {
  background: #fff;
  margin-top: 10px;
  padding: 15px;
}

body > .root .row .left .trends > .title {
  font-size: 18px;
  font-weight: bold;
  color: #14171a;
}

body > .root .row .left .trends > .title .change-trends {
  font-size: 12px;
  font-weight: normal;
  position: relative;
  margin-left: 10px;
}

body > .root .row .left .trends > .title .change-trends::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 2px;
  background: #14171a;
  border-radius: 100px;
  top: 9px;
  left: -8px;
  opacity: 0.5;
}

body > .root .row .left .hashtags {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

body > .root .row .left .hashtags .hashtag {
  margin-bottom: 10px;
  cursor: pointer;
}

body > .root .row .left .hashtags .hashtag:hover .title {
  text-decoration: underline;
}

body > .root .row .left .hashtags .hashtag .title {
  font-size: 14px;
  font-weight: bold;
  color: #1da1f2;
}

body > .root .row .left .hashtags .hashtag .count {
  font-size: 12px;
  font-weight: 400;
  color: #66757f;
}

body > .root .row .left .hashtags .hashtag .count:hover {
  text-decoration: none;
}

body > .root .row .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
  margin: 0 10px;
  max-width: 610px;
}

body > .root .row .main .tweet-input {
  background: #E8F5FD;
  border-bottom: 1px solid #e6ecf0;
}

body > .root .row .main .tweet-input .content {
  padding: 10px 12px 10px 30px;
}

body > .root .row .main .tweet-input .content .avatar img {
  width: 32px;
  height: 32px;
}

body > .root .row .main .tweet-input .content .reply-form .Icon--smiley {
  right: 20px;
  top: 4px;
  font-size: 18px;
}

body > .root .row .main .tweet-input .content .tweet-form {
  margin-left: 10px;
  width: 100%;
}

body > .root .row .main .tweet-input .content .tweet-form > .Icon--media {
  right: 20px;
  top: 4px;
  color: #1da1f2;
  font-size: 18px;
}

body > .root .row .main .tweet-input .content .tweet-form .form-control {
  font-size: 14px;
}

body > .root .row .main .tweet-input .content .tweet-form .form-control ::-webkit-input-placeholder {
  color: #1da1f2 !important;
}

body > .root .row .main .tweet-input .content .tweet-form .form-control :-ms-input-placeholder {
  color: #1da1f2 !important;
}

body > .root .row .main .tweet-input .content .tweet-form .form-control ::-ms-input-placeholder {
  color: #1da1f2 !important;
}

body > .root .row .main .tweet-input .content .tweet-form .form-control ::placeholder {
  color: #1da1f2 !important;
}

body > .root .row .main .new-tweets {
  background: #f5f8fa;
  cursor: pointer;
  border-bottom: 1px solid #e6ecf0;
}

body > .root .row .main .new-tweets:hover {
  background: #e6ecf0;
}

body > .root .row .main .new-tweets .content {
  padding: 10px 0;
}

body > .root .row .main .new-tweets .content .new-tweets-link {
  font-size: 14px;
  color: #007bff;
  font-weight: 400;
}

body > .root .row .main .new-tweets .content .new-tweets-link:hover {
  text-decoration: none;
}

body > .root .row .main .tweet-view {
  border-bottom: 1px solid #e6ecf0;
  padding: 9px 12px;
  cursor: pointer;
}

body > .root .row .main .tweet-view:hover {
  background: #fafafa;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content {
  width: 640px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body {
  padding: 30px 40px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row:first-of-type {
  padding: 0;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top {
  width: 100%;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top .user-info .meta {
  margin-left: 10px;
  margin-top: 5px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top .user-info .meta .name {
  font-size: 14px;
  font-weight: bold;
  color: #14171a;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top .user-info .meta .name:hover {
  color: #1da1f2;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top .user-info .meta .Icon--verified {
  margin-left: 2px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top .user-info .meta .handle {
  color: #657786;
  font-size: 14px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .top > .controls {
  width: 120px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-body .tweet-text {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-body img, body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-body video {
  display: block;
  width: 100%;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .date {
  width: 100%;
  font-size: 14px;
  color: #66757f;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats {
  margin-top: 10px;
  width: 100%;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left {
  padding: 12px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .retweets {
  margin-right: 20px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .likes {
  margin-right: 10px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .retweets:hover, body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .likes:hover {
  color: #1da1f2;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .retweets .count, body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .likes .count {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .retweets .text, body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .left .likes .text {
  font-size: 14px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .right {
  height: 100%;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .right .user-profile-link {
  margin: auto 5px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .right .user-profile-link:first-of-type {
  margin-left: 15px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row > .stats .right .user-profile-link img {
  width: 24px;
  height: 24px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls {
  margin-top: 10px;
  margin-bottom: 2px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls .control {
  color: #657786;
  margin-right: 32px;
  cursor: pointer;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls .control .count {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls .comment:hover {
  color: #1da1f2;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls .rtweet:hover {
  color: #17bf63;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls .like:hover {
  color: #e0245e;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .modal-body .row .tweet-controls .dm:hover {
  color: #1da1f2;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply {
  width: 100%;
  padding-top: 0;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input {
  background: #f5f8fa;
  width: 100%;
  padding: 10px 40px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .replying-to {
  font-size: 14px;
  color: #657786;
  margin: 5px 0 5px 45px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content {
  padding: 0;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content .avatar {
  margin-top: 0px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content .reply-form .reply-controls {
  margin-top: 8px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content .reply-form .reply-controls .icons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content .reply-form .reply-controls .icons > .Icon {
  padding: 4px 10px 6px 10px;
  color: #1da1f2;
  border-radius: 3px;
  border: 1px solid transparent;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content .reply-form .reply-controls .icons > .Icon:hover {
  border: 1px solid #1da1f2;
  background: -webkit-gradient(linear, left bottom, left top, from(#E6F1F6), to(#F5F8FB));
  background: linear-gradient(to top, #E6F1F6, #F5F8FB);
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .reply .tweet-input .content .reply-form .reply-controls .reply-btn {
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .replies {
  padding-top: 0;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .replies .tweet-view {
  padding: 9px 40px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .replies .tweet-view .avatar {
  padding-left: 0;
  margin-right: 10px;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .replies .tweet-view .content {
  padding: 0;
}

body > .root .row .main .tweet-view > .tweet-modal .modal-dialog .modal-content .replies .tweet-view .content .tweet-body .replying-to {
  font-size: 14px;
  color: #657786;
  margin: 5px auto;
}

body > .root .row .main .tweet-view .avatar {
  margin-top: 5px;
  padding-right: 0;
}

body > .root .row .main .tweet-view .avatar img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

body > .root .row .main .tweet-view .content {
  padding-left: 10px;
}

body > .root .row .main .tweet-view .content .top .meta .name {
  font-size: 14px;
  font-weight: bold;
  color: #14171a;
}

body > .root .row .main .tweet-view .content .top .meta .name:hover {
  color: #1da1f2;
}

body > .root .row .main .tweet-view .content .top .meta .Icon--verified {
  margin-left: 2px;
}

body > .root .row .main .tweet-view .content .top .meta .handle {
  color: #657786;
  font-size: 14px;
  margin-left: 5px;
}

body > .root .row .main .tweet-view .content .top .meta .date {
  font-size: 14px;
}

body > .root .row .main .tweet-view .content .top .meta .date:before {
  content: '\00b7';
  margin: auto 5px;
}

body > .root .row .main .tweet-view .content .top .Icon--caretDownLight {
  cursor: pointer;
}

body > .root .row .main .tweet-view .content .tweet-body .tweet-text {
  font-size: 14px;
  margin-bottom: 10px;
}

body > .root .row .main .tweet-view .content .tweet-body img, body > .root .row .main .tweet-view .content .tweet-body video {
  display: block;
  width: 100%;
}

body > .root .row .main .tweet-view .content .tweet-controls {
  margin-top: 10px;
  margin-bottom: 2px;
}

body > .root .row .main .tweet-view .content .tweet-controls .control {
  color: #657786;
  margin-right: 32px;
  cursor: pointer;
}

body > .root .row .main .tweet-view .content .tweet-controls .control .count {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

body > .root .row .main .tweet-view .content .tweet-controls .comment:hover {
  color: #1da1f2;
}

body > .root .row .main .tweet-view .content .tweet-controls .rtweet:hover {
  color: #17bf63;
}

body > .root .row .main .tweet-view .content .tweet-controls .like:hover {
  color: #e0245e;
}

body > .root .row .main .tweet-view .content .tweet-controls .dm:hover {
  color: #1da1f2;
}

body > .root .row .right .row {
  padding: 0;
  background: #fff;
}

body > .root .row .right .who-to-follow .top {
  padding: 15px;
}

body > .root .row .right .who-to-follow .top .title {
  font-weight: bold;
}

body > .root .row .right .who-to-follow .top .link a {
  font-size: 12px;
}

body > .root .row .right .who-to-follow .top .link::before {
  content: '\00b7';
  margin: 0 3px 0 6px;
}

body > .root .row .right .who-to-follow .main {
  margin: 0;
  overflow-x: hidden;
  padding: 0 15px 10px 15px;
}

body > .root .row .right .who-to-follow .main .item {
  width: 100%;
  padding: 8px 0;
}

body > .root .row .right .who-to-follow .main .item .row {
  width: 100%;
}

body > .root .row .right .who-to-follow .main .item .row .avatar {
  padding-left: 0;
  padding-right: 5px;
}

body > .root .row .right .who-to-follow .main .item .row .avatar img {
  width: 48px;
  height: 48px;
}

body > .root .row .right .who-to-follow .main .item .row .main-col {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body > .root .row .right .who-to-follow .main .item .row .main-col .meta .name {
  font-size: 14px;
  font-weight: bold;
  color: #14171a;
}

body > .root .row .right .who-to-follow .main .item .row .main-col .meta > .Icon--verified {
  margin-left: 3px;
}

body > .root .row .right .who-to-follow .main .item .row .main-col .meta .handle {
  overflow-x: hidden;
  font-size: 14px;
  margin-left: 5px;
  max-width: 50px;
  color: #657786;
}

body > .root .row .right .who-to-follow .main .item .row .main-col .btn-outline-primary {
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  padding: 4px 12px;
  margin-top: 5px;
}

body > .root .row .right .who-to-follow .main .item .row .main-col .btn-outline-primary:hover {
  background: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}

body > .root .row .right .who-to-follow .main .item .row .close-icon {
  padding: 0;
  color: #ccd6dd;
  font-size: 12px;
  cursor: pointer;
}

body > .root .row .right .who-to-follow .footer {
  padding: 15px;
}

body > .root .row .right .who-to-follow .footer .find-email-contacts .connect-outlock {
  padding-bottom: 8px;
}

body > .root .row .right .who-to-follow .footer .find-email-contacts .connect-outlock .left-img img {
  width: 20px;
}

body > .root .row .right .who-to-follow .footer .find-email-contacts .connect-outlock .right {
  padding-left: 0;
}

body > .root .row .right .who-to-follow .footer .find-email-contacts .connect-outlock .right .title {
  font-size: 12px;
  font-weight: bold;
}

body > .root .row .right .who-to-follow .footer .find-email-contacts .connect-outlock .right .subtitle {
  font-size: 11px;
}

body > .root .row .right .who-to-follow .footer .find-email-contacts .connect-other-addresses {
  font-size: 12px;
  margin-top: 12px;
}

body > .root .row .right .page-footer {
  background: #fff;
  margin-top: 10px;
}

body > .root .row .right .page-footer .footer-menu {
  list-style: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 0;
}

body > .root .row .right .page-footer .footer-menu .menu-item {
  font-size: 12px;
  line-height: 20px;
  color: #657786;
  padding: 0 9px;
}

body > .root .row .right .page-footer .footer-menu .menu-item a {
  color: #657786;
}

body > .root .row .right .page-footer .adv-link {
  padding: 15px;
}

body > .root .row .right .page-footer .adv-link .Icon--promotedStroked {
  color: #1da1f2;
  cursor: pointer;
}

body > .root .row .right .page-footer .adv-link a {
  margin-left: 10px;
  font-size: 12px;
}

@media (max-width: 1252px) {
  .root > .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .root > .row > .right {
    display: none;
  }
}
/*# sourceMappingURL=profile.css.map */