@import 'common'

.root
    margin: auto
    width: 1190px
    

.navbar
    border-bottom: 1px solid rgba(0,0,0,0.25)
    max-height: 46px
    padding: 0
    background: #fff
    .root
        .left
            height: 43px
            .nav-item
                box-sizing: border-box
                border-bottom: 1px solid $mainColor
                padding-left: 4px
                padding-right: 14px
                color: $mainMenuLink
                transition: all .15s ease-in-out
                &:hover
                    text-decoration: none
                    border-bottom: 2px solid $mainColor
                    color: $mainColor
                .text
                    font-size: 13px
                    font-weight: bold
                    margin-left: 3px
                    line-height: 1
                    vertical-align: text-top
                .Icon
                    margin: 11px 0 0 10px
                    width: 23px
                    height: 23px
            .active
                color: $mainColor
                border-bottom: 2px solid $mainColor

        .Icon--bird
            font-size: 20px
            color: $mainColor

        .right
            .form-inline
                margin-right: 15px
                .search-input
                    background: #f5f8fa
                    border: 1px solid #e6ecf0
                    border-radius: 30px
                    height: 32px
                    width: 221px
                    color: $darkTxtColor
                    font-size: 12px
                    line-height: 16px
                    padding: 8px 32px 8px 12px
                    transition: all .2s ease-in-out
                    box-sizing: border-box
                    &:focus
                        background: #fff
                        box-shadow: inset 0 0 0 0.15rem $mainColor
                        padding-left: 14px
                
                .Icon--search
                    right: 10px
                    top: 2px
                    color: $mainMenuLink
            .avatar
                img
                    width: 32px
                    height: 32px
            .tweet
                display: block
                margin-left: 14px
                border-radius: 200px
                height: 32px
                font-size: 14px
                font-weight: bold
                padding: 6px 20px
                background: #4AB3F4
                border: none
                &:hover
                    background: $mainColor

body
    background: #e6ecf0
    > .root
        .row
            padding-top: 10px
            max-width: 1190px
            margin: auto
            .left, .right
                width: 290px
            .left
                .user_info
                    .top
                        background: $mainColor
                        position: 
                        height: 95px
                        position: relative
                        .avatar
                            position: absolute
                            bottom: -36px
                            padding: 1px
                            margin-left: 8px
                            img
                                width: 72px
                                height: 72px
                                border: 4px solid #fff
                    .bottom
                        background: #fff
                        .user_name
                            margin-left: 90px
                            margin-top: 5px
                            a
                                display: block
                            a.name
                                color: $darkTxtColor
                                font-size: 18px
                                font-weight: bold
                                line-height: 25px
                            a.handel
                                color: #657786
                                font-size: 14px
                                font-weight: normal
                        .stats
                            padding: 16px
                            .stat
                                cursor: pointer
                                margin-right: 35px
                                .title
                                    font-size: 12px
                                    color: #657786
                                    font-weight: bold
                                    letter-spacing: 0.02em
                                    line-height: 16px
                                    overflow: hidden
                                    transition: color .2s ease-in-out
                                    &:hover
                                        color: $mainColor
                                .count
                                    font-size: 18px
                                    font-weight: bold
                                    padding-top: 3px
                                    color: $mainColor
                .trends
                    background: #fff                                 
                    margin-top: 10px
                    padding: 15px
                    > .title
                        font-size: 18px
                        font-weight: bold
                        color: $darkTxtColor
                        .change-trends
                            font-size: 12px
                            font-weight: normal
                            position: relative
                            margin-left: 10px
                            &::before
                                content: ''
                                display: inline-block
                                position: absolute
                                width: 2px
                                height: 2px
                                background: $darkTxtColor
                                border-radius: 100px
                                top: 9px
                                left: -8px
                                opacity: 0.5
                .hashtags
                    list-style-type: none
                    padding-left: 0
                    margin-top: 5px
                    .hashtag
                        margin-bottom: 10px
                        cursor: pointer
                        &:hover
                            .title
                                text-decoration: underline
                        .title
                            font-size: 14px
                            font-weight: bold
                            color: $mainColor
                        .count
                            font-size: 12px
                            font-weight: 400
                            color: $mainMenuLink
                            &:hover
                                text-decoration: none
            .main
                flex-grow: 1
                background: #fff
                margin: 0 10px
                max-width: 610px
                .tweet-input
                    background: #E8F5FD
                    border-bottom: 1px solid $sectionBorder
                    .content
                        padding: 10px 12px 10px 30px
                        .avatar
                            img
                                width: 32px
                                height: 32px
                        .tweet-form
                            margin-left: 10px
                            width: 100%
                            .Icon--media
                                right: 20px
                                top: 4px
                                color: $mainColor
                                font-size: 18px
                            .form-control
                                font-size: 14px
                                ::placeholder
                                    color: $mainColor !important
                .new-tweets
                    background: #f5f8fa
                    cursor: pointer
                    &:hover
                        background: #e6ecf0
                    .content
                        padding: 10px 0
                        .new-tweets-link
                            font-size: 14px
                            color: #007bff
                            font-weight: 400
                            &:hover
                                text-decoration: none           
                .tweet-view
                    border-bottom: 1px solid $sectionBorder
                    padding: 9px 12px
                    cursor: pointer
                    &:hover
                        background: #fafafa
                    .avatar
                        margin-top: 5px
                        padding-right: 0
                        img
                            border-radius: 50%
                            width: 48px
                            height: 48px
                            cursor: 
                    .content
                        padding-left: 10px
                        .top
                            .meta
                                .name
                                    font-size: 14px
                                    font-weight: bold
                                    color: $darkTxtColor
                                    &:hover
                                        color: $mainColor
                                .Icon--verified
                                    margin-left: 2px
                                .handle
                                    color: #657786
                                    font-size: 14px
                                    margin-left: 5px
                                .date
                                    font-size: 14px
                                    &:before
                                        content: '\00b7'
                                        margin: auto 5px
                            .Icon--caretDownLight
                                cursor: pointer
                        .tweet-body
                            .tweet-text
                                font-size: 14px
                                margin-bottom: 10px
                            img
                                display: block
                                width: 100%
                        .tweet-controls
                            margin-top: 10px
                            margin-bottom: 2px
                            .control
                                color: #657786
                                margin-right: 32px
                                cursor: pointer
                                .count
                                    font-size: 12px
                                    font-weight: bold
                                    margin-left: 10px
                            .comment
                                &:hover
                                    color: $mainColor
                            .rtweet
                                &:hover
                                    color: #17bf63
                            .like
                                &:hover
                                    color: #e0245e
                            .dm
                                &:hover
                                    color: $mainColor
                                    

            .right
                background: #fff





