$mainColor: #1da1f2
$linkColor: #aab8c2
$darkTxtColor: #14171a


body
    font-family: "Segoe UI",Arial,sans-serif

@font-face 
    font-family: "edgeicons"
    src: url("../../font/edge-icons-Regular.eot")
    src: url("../../font/edge-icons-Regular.eot?#iefix") format("embedded-opentype"), url("../../font/edge-icons-Regular.woff") format("woff"), url("../../font/edge-icons-Regular.ttf") format("truetype")

.Icon 
    background: transparent
    display: inline-block
    font-style: normal
    vertical-align: baseline
    position: relative


.Icon:after,
.Icon:before 
    display: block
    font-family: "edgeicons"
    font-weight: normal
    font-style: normal
    text-align: center
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.geo-query-location .Icon--search 
    color: #66757f
    left: 13px
    position: absolute
    top: 10px

.Icon--search:before 
    content: "\f058"

.Icon--people:before 
    content: "\f178"
.Icon--reply:before 
    content: "\f151"

.Icon--bird:before 
    content: "\f179"

.log-in-btn
    height: 45px
    border-radius: 100px
    font-weight: bold
    font-size: 12px
    line-height: 20px
    &:hover
        background: rgba(29,161,242, 0.1)
        color: $mainColor

.root
    height: 94vh
    .main
        height: 100%
        .left
            background: $mainColor
            overflow: hidden
            > .background
                font-size: 85vw
                z-index: 0
                right: -39vw
                top: -48vw
                opacity: 0.1
            .content
                z-index: 1
                .features
                    list-style: none
                    color: #fff
                    .feature
                        margin: 48px 0
                        font-weight: bold
                        font-size: 18px
                        line-height: 24px
                        .Icon
                            font-size: 35px
                            margin-right: 16px
        .right
            form.header
                position: absolute
                width: 100%
                max-width: 550px
                padding-right: 20px
                padding-left: 20px
                top: 20px
                input
                    height: 45px
                    width: 210px
                    font-size: 14px
                .password
                    .link
                        color: $linkColor
                        font-size: 14px
                        line-height: 20px
            .content
                max-width: 350px
                > .top
                    .icons
                        width: 100%
                        .Icon--bird
                            color: $mainColor
                            font-size: 45px
                    .title
                        font-size: 27px
                        line-height: 32px
                        font-weight: bold
                        color: $darkTxtColor
                > .bottom
                    .title
                        margin-top: 48px
                        margin-bottom: 16px
                        font-size: 18px
                        line-height: 24px
                        font-weight: bold
                        color: $darkTxtColor
                    a
                        width: 100%
                        margin-bottom: 16px
                        border-radius: 100px
                        height: 32px
                        display: flex
                        align-items: center
                        justify-content: center
                        font-weight: bold
                        transition: none
                    .btn-primary
                        background: $mainColor
                        color: #fff
                        border: none
                        &:hover
                            background: #0C6FBA
                    .btn-outline-primary
                        color: $mainColor
                        &:hover
                            background: rgba(29,161,242, 0.1)

.footer
    width: 75vw
    margin: auto
    padding: 10px 0
    .footer-menu
        list-style: none
        padding-left: 0
        margin-bottom: 0
        width: 100%
        .menu-item
            font-size: 12px
            line-height: 20px
            color: $linkColor
            padding: 0 9px
            a
                color: $linkColor




@media (max-width: 991.99px)
    .left, .right
        width: 100%
        min-width: 100%
        max-width: 100%
        .content
            width: 100%
@media (max-width: 575.99px)
    .background
        bottom: -10vw
        left: -20vw
        display: flex
        align-items: center
        justify-content: center
        &::before
            font-size: 140vw
            
            